{% extends "layouts/branded.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}
    <h2 class="govuk-heading-m">Versions</h2>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="mvp/claims-overview">MVP</a>
      </li>
      <li>
        <a class="govuk-link" href="mvp-unbranded/start-new-claim">MVP Unbranded</a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
