{% extends "layouts/branded.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">FSF Prototype Catalogue</h1>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="prototypes/mvp/claims-overview">MVP v1.2</a>
      </li>
      <li>
        <a class="govuk-link" href="prototypes/mvp-unbranded/start-new-claim">MVP Unbranded v1.0</a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
